<div class="login" [ngClass]="{ 'hidden': active }">

  <div class="col-lg-4 col-md-6 col-sm-8">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-center">Login</h3>
      </div>

      <form class="card-body" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group has-label">
          <label>Correo Electronico</label>
          <input class="form-control" placeholder="correo@email.com" type="email" formControlName="email"/>
        </div>

        <div class="form-group has-label">
          <label>Contraseña</label>
          <input class="form-control" type="password" placeholder="Contraseña" formControlName="password"/>
        </div>

        <div class="text-center">
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-round btn-wd">Login</button>
        </div>
      </form>
    </div>
  </div>

</div>
