<div class="about">
    <div class="container about__container">
        <div class="row h-100 justify-content-center d-flex">
            <div class="col-12 text-center about__container-content d-flex justify-content-center align-items-center flex-column">
                <h1 class="lobster-font pb-3">Sobre mi</h1>
                <p class="roboto-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente deserunt placeat eaque explicabo doloremque suscipit blanditiis cum nemo totam, atque laborum, minus hic rerum dolores culpa amet tempora incidunt quaerat.</p>
            </div>
        </div>
    </div>
</div>