<div class="about">
    <!-- <div class="about__container d-flex flex-column flex-sm-column flex-md-row">
        <img class="about__image" src="https://source.unsplash.com/random?health,skin,care" alt="">
        <div class="about__container-content d-flex justify-content-center align-items-start flex-column px-5">
            <h1 class="lobster-font">Lorem ipsum dolor</h1>
            <p class="roboto-font">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis quisquam tenetur, vero modi doloribus consectetur quos, laudantium omnis perferendis earum pariatur iusto nihil assumenda quam harum alias laboriosam numquam esse.</p>
        </div>
    </div> -->
    <div class="container about__container">
        <div class="row h-100 justify-content-center d-flex">
            <div class="col-12 text-center about__container-content d-flex justify-content-center align-items-center flex-column">
                <h1 class="lobster-font pb-3">Sobre mi</h1>
                <p class="roboto-font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente deserunt placeat eaque explicabo doloremque suscipit blanditiis cum nemo totam, atque laborum, minus hic rerum dolores culpa amet tempora incidunt quaerat.</p>
            </div>
        </div>
    </div>
</div>