<div *ngIf="(products$ | async | groupProducts ) as products">
    <div class="cart__empty" *ngIf="products.length === 0; else elseTemplate">
        <div class="empty__content">
            <h1 class="lobster-font">No hay productos en el carrito</h1>
            <a routerLink="/productos" mat-stroked-button class="empty__button lobster-font">COMPRAR!</a>
        </div>
    </div>
<ng-template #elseTemplate>    
    <div class="container">
        <div class="row cart__container" *ngIf="products.length != 0">
            <h1 class="cart__container-title lobster-font">CARRITO</h1>
            <ul class="cart__prods">
                <li class="cart__item" *ngFor="let data of products">
                    <div class="item__image">
                        <img class="image" [src]="productsUrl + data.product.image" alt="">
                    </div>
                    <div class="item__info">
                        <div class="info__desc">
                            <h1 class="lobster-font">{{ data.product.name }}</h1>
                            <p>{{ data.product.description }}</p>
                        </div>
                        <div class="info__quantity">
                            <div class="productInfo__quantity-container">
                                <button (click)="minus(data.product)">-</button>
                                <span class="productInfo__quantity-selector">{{data.quantity}}</span>
                                <button (click)="plus(data.product)">+</button>
                            </div>
                            <div class="info__price">
                                <div class="price__one">
                                    {{data.product.price | currency}} x {{ data.quantity}}
                                </div>
                                &nbsp;
                                <div class="price__total">
                                    {{data.product.price * data.quantity | currency}}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="cart__total-container">
                <div class="cart__total">
                    <ng-container *ngIf="(subtotal$ | async) as subtotal">
                        <h2><strong class="lobster-font">SUBTOTAL: </strong>{{subtotal | currency}}</h2>
                        <h1><strong class="lobster-font">TOTAL: </strong>{{ subtotal + deliveryFee | currency}}</h1>
                    </ng-container>
                </div>
                <div class="cart__total-actions">
                    <a mat-raised-button routerLink="/carro-de-compras/checkout">CONFIRMAR</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>
</div>