
.wrapper {
   &.unauthorized {
     overflow: hidden;
     filter: blur( 12px );
   }
}

.form-wrapper{
  margin-top: 18px;
  display: flex !important;
  flex-direction: column !important;
  .form-field{
      margin-bottom: 1.25em;
  }
  // .image-preview{
  //     display: flex;
  //     flex-direction: column;
  //     padding-bottom: 1.25em;
  //     img{
  //         width: 40%;
  //     }
  // }
}
