$break-small: "screen and (min-width: 576px)"; //de esos px para arriba
$break-medium: "screen and (min-width: 768px)";
$break-large: "screen and (min-width: 992px)";
$break-extra: "screen and (min-width: 1200px)";