<div id="service py-5">
  <div class="container-fluid">
    <div class="row">
      <div id="carousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block w-100"
              src="https://source.unsplash.com/random/1200x800?face"
              alt="First slide"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://source.unsplash.com/random/1200x800?care"
              alt="Second slide"
            />
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100"
              src="https://source.unsplash.com/random/1200x800?health"
              alt="Third slide"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="row no-gutters">
                <div class="col-12">
                  <h1 class="lobster-font" *ngIf="service">{{service.name}}</h1>
                </div>
                <div class="col-sm-12 col-md-4 offset-md-4 timeline__container my-4 py-0">
                  <div *ngFor="let paso of pasos" class="timeline__item mb-3 px-4">
                    <span class="timeline__item-step roboto-font">{{paso.no}}</span>
                    <div class="timeline__header">
                      <h1 class="lobster-font">{{paso.title}} <span class="roboto-font"> {{paso.time}} mins</span></h1>
                    </div>
                    <div class="timeline__content">
                      <p class="roboto-font">{{paso.description}}</p>
                    </div>
                    <hr>
                  </div>
                </div>
                <div class="col-12">
                  <p *ngIf="service" class="servicio__descripcion roboto-font">
                    {{service.description}}
                  </p>
                </div>
                <div class="col-12 servicio__buttons text-right">
                  <button mat-raised-button>Agendar</button>
                  <button class="ml-4" mat-stroked-button>Volver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
