<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Productos</h5>
                </div>
                <div class="card-body">
                    <button mat-raised-button (click)="openCreate()">
                        <i class="now-ui-icons shopping_basket"></i>  Nuevo producto
                    </button>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
                            <thead class="text-primary">
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products; index as i">
                                    <td>
                                        <img [src]="'http://localhost:3000/services/get-image/'+product.image" class="image-tabla">
                                    </td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.description | slice:0:30}}...</td>
                                    <td>
                                        <i class="material-icons icon-trash" color="warning" (click)="eraseProduct(product.id)">
                                            cancel
                                        </i>
                                        &nbsp;
                                        <i class="material-icons icon-edit" (click)="openEditProduct(product.id)">
                                            edit
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>