$main-color: #FFC973;
$second-color: #BAE85D;
$third-color: #66FFE1;
$fourth-color: #E85D7A;
$fifth-color: #8A78FF;
$break-small: "screen and (min-width: 576px)"; //de esos px para arriba
$break-medium: "screen and (min-width: 768px)";
$break-large: "screen and (min-width: 992px)";
$break-extra: "screen and (min-width: 1200px)";
$bar-width: 25px;
$bar-height: 3px;
$bar-spacing: 10px;
$bars-color: $main-color;