<div class="nav d-none">
    <div class="menu-wrapper">
        <div class="hamburger-menu"></div>
    </div>
    <ul class="nav-menu container">
        <li [appMenuButtons]="'#FFC973'" class="menu-item">
            <a href="">SERVICIOS</a>
        </li>
        <li [appMenuButtons]="'#BAE85D'" class="menu-item">
            <a [routerLink]="['/']">HOME</a>
        </li>
        <li class="menu-logo">
            <a routerLink="/">FacialesNoemi</a>
        </li>
        <li [appMenuButtons]="'#66FFE1'" class="menu-item">
            <a href="">ABOUT</a>
        </li>
        <li [appMenuButtons]="'#8A78FF'" class="menu-item">
            <a href="">CONTACTO</a>
        </li>
    </ul>
</div>