<div id="footer">
    <div class="container-fluid">
        <div class="container">
            <div class="row footer__content">
                <div class="col-sm-12 footer-title">
                    <h1 class="text-center">Lorem ipsum</h1>
                </div>
                <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-center first-list">
                    <ul class="unstyled-list">
                        <li>Home</li>
                        <li>Servicios</li>
                        <li>Contacto</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 social-media-list d-flex align-items-center justify-content-around">
                    <mat-list role="list">
                        <mat-list-item role="listitem"><i class="fab fa-instagram"></i></mat-list-item>
                        <mat-list-item role="listitem"><i class="fab fa-facebook-f"></i></mat-list-item>
                        <mat-list-item role="listitem"><i class="fab fa-whatsapp"></i></mat-list-item>
                    </mat-list>   
                </div>
                <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-center second-list">
                    <ul class="unstyled-list">
                        <li>Home</li>
                        <li>Servicios</li>
                        <li>Contacto</li>
                    </ul> 
                </div>
                <div class="col-sm-12 mt-md-5 mt-sm-0">
                    <div class="row no-gutters mt-md-5">
                        <div class="col-sm-12">
                            <h2 class="text-center">Lorem ipsum dolor sit amet</h2>
                        </div>
                        <div class="col-sm-12 col-md-4 offset-md-4 text-center">
                            <form action="" class="d-flex flex-column justify-content-center align-items-center">
                                <mat-form-field class="w-100">
                                    <input matInput placeholder="Correo electrónico">
                                </mat-form-field>
                                <button class="mt-4" mat-stroked-button>Suscribirte</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt-3">
                    <small>Copyright | lorem ipsum</small>
                </div>
            </div>
        </div>
    </div>
</div>