<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true">
        <ul class="menu__list text-right w-100">
            <li class="menu__list-header lobster-font">Menú</li>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" routerLink="/">Home</a>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" routerLink="/sobre-mi">Sobre mi</a>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" href="/#services">Servicios</a>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" routerLink="/tienda">Tienda</a>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font">Contacto</a>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <mat-toolbar>
            <mat-toolbar-row>
                <span>Third Line</span>
                <span class="example-spacer"></span>
            </mat-toolbar-row>
        </mat-toolbar> -->
        <button class="toggleButton" mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
