@import "../../../../assets/variables/vars";

#services{
    background-color: white;
    .service__container{
        height: 50vH;
        &-image{
            width: 100%;
            height: 50%;
            object-fit: cover;
            object-position: center;
            @media #{$break-medium}{
                width: 50%;
                height: 100%;
            }
        }
        &-content{
            height: 50%;
            width: 100%;
            box-sizing: border-box;
            @media #{$break-medium}{
                width: 50%;
                height: 100%;
            }
        }
        &:nth-child(even){
            flex-direction: column !important;
            @media #{$break-medium}{
                flex-direction: row-reverse !important;
            }
            .service__container-content{
                align-items: flex-end !important;
                text-align: right;
            }
        }
        &:nth-child(even){
            
        }
    }
}