<div id="services">
    <div class="container-fluid">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-12">
                    <h1 class="text-center lobster-font mb-0">Servicios</h1>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let service of services" class="service__container d-flex flex-column flex-sm-column flex-md-row">
        <img class="service__container-image" [src]="service.imgUrl" alt="">
        <div class="service__container-content d-flex justify-content-center align-items-start flex-column px-4">
            <h1 class="lobster-font">{{service.serviceTitle}}</h1>
            <p>{{service.serviceDesc}}</p>
        </div>
    </div>
</div>