<div id="services">
    <div class="container-fluid">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-sm-12">
                    <h1 class="text-center lobster-font">Servicios</h1>
                </div>
                <div class="col-sm-12 offset-md-1 col-md-10">
                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab label="First">
                            <div class="row no-gutters py-5">
                                <div class="col-sm-12">
                                    <h3>Lorem ipsum</h3>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row no-gutters">
                                        <div class="col-md-6">
                                            <p>lorem ipsum dolor sit amet</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button mat-button (click)="goToCheckout()">Checkout</button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Second">
                            <div class="row no-gutters py-5">
                                <div class="col-sm-12">
                                    <h3>Lorem ipsum</h3>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row no-gutters">
                                        <div class="col-md-6">
                                            <p>lorem ipsum dolor sit amet</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Third">
                            <div class="row no-gutters py-5">
                                <div class="col-sm-12">
                                    <h3>Lorem ipsum</h3>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row no-gutters">
                                        <div class="col-md-6">
                                            <p>lorem ipsum dolor sit amet</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>lorem ipsum dolor sit amet</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>