@import "../../../../assets/variables/vars";

#services{
    background-color: white;
    .service__container{
        height: 50vH;
        transition: box-shadow .3s;
        &-image{
            width: 250px;
            height: 250px;
            min-width: 250px;
            min-height: 250px;
            max-width: 250px;
            max-height: 250px;
            object-fit: cover;
            object-position: center;
            border-radius: 100%;
        }
        &-content{
            width: 100%;
            box-sizing: border-box;
            p{
                margin: 0 auto;
                width: 70%;
            }
        }
        &:hover{
            box-shadow: 0 0 11px rgba(33,33,33,.2); 
        }
    }
}