<div id="footer">
    <div class="container-fluid">
        <div class="container py-5">
            <div class="row footer__content py-5">
                <div class="col-sm-12 footer-title">
                    <h1 class="text-center lobster-font">Faciales Noemi</h1>
                </div>
                <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-center first-list lobster-font">
                    <ul class="unstyled-list">
                        <li>Home</li>
                        <li>Servicios</li>
                        <li>Contacto</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-4 social-media-list d-flex align-items-center justify-content-around">
                    <mat-list role="list">
                        <mat-list-item role="listitem"><i class="fab fa-instagram"></i></mat-list-item>
                        <mat-list-item role="listitem"><i class="fab fa-facebook-f"></i></mat-list-item>
                        <mat-list-item role="listitem"><i class="fab fa-whatsapp"></i></mat-list-item>
                    </mat-list>   
                </div>
                <div class="col-sm-12 col-md-4 d-flex align-items-center justify-content-center second-list lobster-font">
                    <ul class="unstyled-list">
                        <li>Home</li>
                        <li>Servicios</li>
                        <li>Contacto</li>
                    </ul> 
                </div>
                <div class="col-sm-12 mt-md-5 mt-sm-0">
                    <div class="row no-gutters mt-md-5">
                        <div class="col-sm-12">
                            <h2 class="text-center lobster-font">Promociones, descuentos y noticias</h2>
                        </div>
                        <div class="col-sm-12 col-md-4 offset-md-4 text-center">
                            <form action="" class="d-flex flex-column justify-content-center align-items-center">
                                <mat-form-field class="w-100 text-center mt-3">
                                    <input class="text-center lobster-font" matInput placeholder="Correo electrónico"/>
                                </mat-form-field>
                                <button class="mt-4 newsletter-button" mat-stroked-button>Suscribirte</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt-3 lobster-font">
                    <small>Copyright | lorem ipsum</small>
                </div>
            </div>
        </div>
    </div>
</div>