<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true">
        <ul class="menu__list text-right w-100">
            <li class="menu__list-header lobster-font">Menú</li>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" routerLink="/">Home</a>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" routerLink="/sobre-mi">Sobre mi</a>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" routerLink="/" fragment="services">Servicios</a>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" routerLink="/citas">Agenda tu cita</a>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" routerLink="/productos">Tienda</a>
            <a (click)="sidenav.toggle()" class="menu__list-item lobster-font" routerLink="/"  fragment="contact">Contacto</a>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <a routerLink="/carro-de-compras" class='cart_button'>
            <span [matBadge]="total$ | async" matBadgeColor="warn" class="material-icons">
                shopping_cart
            </span>
        </a>
        <div (click)="sidenav.toggle()" class="menu-wrapper navbar__collapse-button">
            <div #navToggle class="hamburger-menu"></div>
        </div>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
