@import '../../../../assets/variables/vars';

#contact{
    background-color: white;
    mat-vertical-stepper{
        background-color: transparent;
    }
    .contact__container{
        height: auto;
        width: 100%;
        @media #{$break-medium}{
            height: 100vH;
        }
        &-image{
            width: 100%;
            height: 30vH;
            object-fit: cover;
            object-position: center;
            @media #{$break-medium}{
                width: 50%;
                height: 100%;
            }
        }
        &-content{
            width: 100%;
            height: 50%;
            @media #{$break-medium}{
                width: 50%;
                height: 100%;
            }
        }
    }
}